<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <div class="container">
    <a class="navbar-brand active" href="{% url 'index' %}">FitUP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Reservations' %}">Reservations <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Trainings' %}">Trainings</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Users
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'Clients' %}">Clients</a>
                  <a class="dropdown-item" href="{% url 'Coaches' %}">Coaches</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'Payments' %}">Payments</a>
              </li>
            </ul>
            <ul class="navbar-nav my-sm-0">
              {% block content %}
                {% if user.is_authenticated %}
                    <li class="nav-item mr-sm-2" >
                        <a class="nav-link" href="#">{{ user.username }}</a>
                    </li>
                    <li class="nav-item mr-sm-2" >
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                   <li class="nav-item mr-sm-2" >
                       <a class="nav-link" href="/login">Log In</a>
                    </li>
                {% endif %}
              {% endblock %}
            </ul>
          </div>
        </div>
    </nav>
    <div class="container text-center w-100 mb-5 mt-10">
       <div class="card mx-auto" style="width:400px">
            <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="card-header">Payment</div>
                <div class="card-body">
                    <label>Trainings Per Week</label>
                    <p>{{ form.num_trainings_per_week }}</p>
                     <label>Price</label>
                    <p>{{ form.price }}</p>
                     <label>Date</label>
                    <input type="date" class="form-control" name="date"/>
                </div>
            <button class="btn btn-success">Submit</button>
            </form>
       </div>
    </div>
    <footer class="bg-light text-center text-lg-start fixed-bottom">
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-dark" href="{% url 'index' %}">FitUP</a>
      </div>
      <!-- Copyright -->
    </footer>
</div>
</body>
</html>